<h1>New Artist</h1>

<% if flash[:user_error] %>
    <div id="error_explanation">
        <h2><%= pluralize(flash[:user_error].count, "error") %>
        prohibited this artist from being saved: </h2>

        <ul>
        <% flash[:user_error].each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @artist do |a| %>

<label>Artist Name:</label>
<%= a.text_field :name %><br><br>


<label>Nick Name:</label>
<%= a.text_field :title %><br><br>

<label>Age:</label>
<%= a.number_field :age %><br><br>

<%=a.submit "Save" %>

<% end %>